In [5]:
import numpy as np
import pandas as pd 
%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sn
from scipy import stats

ModuleNotFoundError: No module named 'seaborn'

In [4]:
data = pd.read_csv('csvFiles/heightweight.csv')
data.head()

  gender   ageYear  ageMonth  HeightIn  WeightLB
0      f  11.91667       143      56.3      85.0
1      f  12.91667       155      62.3     105.0
2      f  12.75000       153      63.3     108.0
3      f  13.41667       161      59.0      92.0
4      f  15.91667       191      62.5     112.5